-title 'ImageUploader'

#file-uploader
  %noscript
    %form{:method => :post, :action=>'/', :enctype => "multipart/form-data"}
      %input{:id=>'upload-input', :type=>'file', :name=>'file'}
      %input{:type=>'submit', :value=>"Upload!"}

%ul.list
  - @list.each do |f|
    %li
      %a{:href=>"/i/#{f}", :class=>'link'}
        =f
      %a{:href=>"/remove/#{f}", :class=>'remove'}
        remove

-stylesheet '/fileuploader.css'
-javascript '/fileuploader.js'
-javascript '/app.js'
