-title 'ImageUploader'
%a{:href=>"/gallery"}
  Gallery

#file-uploader
  %noscript
    %form{:method => :post, :action=>'/', :enctype => "multipart/form-data"}
      %input{:id=>'upload-input', :type=>'file', :name=>'file'}
      %input{:type=>'submit', :value=>"Upload!"}

%ul#image-list

-stylesheet '/fileuploader.css'
-javascript '/fileuploader.js'
-javascript '/app.js'
