-title 'WMD Editor'

#editor
  #notes-button-bar
  %textarea{:id=>'notes', :name=>'copy', :class=>'wmd-input'}
  #notes-preview.wmd-preview
  %textarea{:id=>'copy_html', :name=>'copy_html', :class=>'wmd-output', :style=>'width:500px;height:500px'}

-stylesheet '/wmd.css'
-javascript '/wmd.js'
-javascript '/showdown.js'
-javascript '/editor.js'
